.footer {
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    text-align: center;
    margin-top: 0;
    position: relative;
    z-index: 10;
    border-top: transparent 2px solid;
    background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(45deg, #e13a85, #ff6f61) border-box;
    background-clip: padding-box, border-box;

}

.footer-text {
    font-size: 1.1rem;
    font-weight: 500;
    background: linear-gradient(45deg, #e13a85, #ff6f61);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Poppins', sans-serif;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

